<div class="bg-amber-200 m-8">
  <h2 class="font-bold underline text-center pt-5">
    Hi {{username}}, Welcome to the waiters app!
  </h2>

      {{#if messages.success}}
            <div class="alert alert-success text-center" >
                <p id="successMessage"> {{messages.success}}</p>
            </div>
            {{/if}}

            {{#if messages.error}}
            <div id="successMessage" class="alert alert-danger">
                <p id="successMessage"> <b>{{messages.error}}</b></p>
                <script
                    type="text/javascript">window.setTimeout("document.getElementById('successMessage').style.display='none';", 2000); </script>

            </div>
            {{/if}}
            <br>

  <form class="form-horizontal"  action="/login/{{username}}" method="POST">
    <div class="form-group ">
  
        <label class="control-label col-sm-2"  for="">Verification Code:</label>
        <div class="col-sm-3">
        <input class="form-control" type="text" name="addCode">
        </div>
         <div class="col-sm-offset-2">
    <button class="btn btn-success" type="submit">Send</button>
    </div>
      </div>

    

   
    {{!-- <div>{{waiter}}</div> --}}
    <div class="m-1 bg-slate-400">

      {{!-- <p class="">{{name}}</p> --}}

      {{!-- {{#each waiter_name}}
      <p>Hi<strong>{{name}}</strong>, Welcome to the waiters app</p>

      {{/each}} --}}


    </div>

    
    {{!-- <p>You will be redirected in a few seconds...</p> --}}

    {{!--
    <script>
      setTimeout(function () {
        // after 2 seconds
        window.location = "/schedule";
      }, 9000)
    </script> --}}

  </form>


</div>