<div>


	<h3>Hi {{name}}, below is the schedule for available waiters:</h3> <br>





	<div class="box-me">
		<div class="box-me">
			<div class="circle green"></div>
			<p>Enough waiters </p>
		</div>

		<div class="box-me">
			<div class="circle red"></div>
			<p>Overbooked</p>
		</div>

		<div class="box-me">
			<div class="circle orange"></div>
			<p>Waiters needed</p>
		</div>
	</div>
	<table class="table table-striped table-warning table-hover table-responsive-md w-auto">



		{{#each getDays}}
		<th class="{{color}}" value="{{id}}" name="day_id">{{day}}</th>
		{{/each}}
		<tr class="initial-bottom-row">
			<td class="bg_table">

				
				<p>{{#each monday}}
					<a href="/schedule/{{name}}">{{name}} </a><br>
					{{/each}}
				</p><br>
			</td>

			<td>
				
				<p>{{#each tuesday}}
					<a href="/schedule/{{name}}">{{name}}</a><br>
					{{/each}}
				</p><br>
			</td>
			<td>
				
				<p>{{#each wednesday}}
					<a href="/schedule/{{name}}">{{name}}</a> <br>
					{{/each}}
				</p><br>
			</td>
			<td>
				
				<p>{{#each thursday}}
					<a href="/schedule/{{name}}">{{name}}</a> <br>
					{{/each}}
				</p><br>
			</td>
			<td>
				
				<p>{{#each friday}}
					<a href="/schedule/{{name}}">{{name}}</a> <br>
					{{/each}}
				</p>
			</td>
			<td>
				
				<p>{{#each saturday}}
					<a href="/schedule/{{name}}">{{name}}</a> <br>
					{{/each}}
				</p>
			</td>
			<td>
			
				<p>{{#each sunday}}
					<a href="/schedule/{{name}}">{{name}}</a> <br>
					{{/each}}
				</p>
			</td>
		</tr>

		<tr class="bottom-row">
			<td>
				<div class="d-flex justify-content-end" style="">
					<a class="btn btn-danger" href="/resetDay/Monday" type="" name="">Remove waiters</a>
				</div>
			</td>
			<td>
				<div class="d-flex justify-content-end" style="">
					<a class="btn btn-danger" href="/resetDay/Tuesday" type="" name="">Remove waiters</a>
				</div>
			</td>
			<td>
				<div class="d-flex justify-content-end" style="">
					<a class="btn btn-danger" href="/resetDay/Wednesday" type="" name="">Remove waiters</a>
				</div>
			</td>
			<td>
				<div class="d-flex justify-content-end" style="">
					<a class="btn btn-danger" href="/resetDay/Thursday" type="" name="">Remove waiters</a>
				</div>
			</td>
			<td>
				<div class="d-flex justify-content-end" style="">
					<a class="btn btn-danger" href="/resetDay/Friday" type="" name="">Remove waiters</a>
				</div>
			</td>
			<td>
				<div class="d-flex justify-content-end" style="">
					<a class="btn btn-danger" href="/resetDay/Saturday" type="" name="">Remove waiters</a>
				</div>
			</td>
			<td>
				<div class="d-flex justify-content-end" style="">
					<a class="btn btn-danger" href="/resetDay/Sunday" type="" name="">Remove waiters</a>
				</div>
			</td>
		</tr>
	</table>

	<div class="d-flex justify-content-end" style="">
		<a class="btn btn-warning btn-block" href="/reset" type="" name="">Remove all waiters</a> <br>
	</div>

	<div class="d-flex justify-content-end" style="">
		<a class="btn btn-success btn-block" href="/reset" type="" name="">Logout</a>
	</div> <br>


</div>