<form action="/showScheduledDays/{{name}}" method="POST">
	<div>


		<h2>Hi {{name}}, below is the schedule for available waiters:</h2> <br>

	

		<table class="table table-striped table-warning table-hover table-responsive-md w-auto">

			<th class="">Monday</th>
			<th class="">Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Saturday</th>
			<th>Sunday</th>
<tr>
		<td>

				{{#each monday}}
				{{name}} <br>
				{{!-- <a class="admin" href="/showScheduledDays/{{name}}" type="" name="admin">Update</a></span> <br> --}}
				{{/each}}
			{{!-- {{#if mon_count}}
			{{count}}
			{{/if}} --}}
			</td>

			<td>
				{{#each tuesday}}
				{{name}} <br>
				{{/each}}
			</td>
			<td>
				{{#each wednesday}}
				{{name}} <br>
				{{/each}}
			</td>
			<td>
				{{#each thursday}}
				{{name}} <br>
				{{/each}}
			</td>
			<td>
				{{#each friday}}
				{{name}} <br>
				{{/each}}
			</td>
			<td>
				{{#each saturday}}
				{{name}} <br>
				{{/each}}
			</td>
			<td>
				{{#each sunday}}
				{{name}} <br>
				{{/each}}
			</td>
</tr>
		



	</div>
</form>